[submodule "Sas/vendor/glm"]
	path = Sas/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Sas/vendor/GLFW"]
	path = Sas/vendor/GLFW
	url = https://github.com/addmors/glfw
[submodule "Sas/vendor/spdlog"]
	path = Sas/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Sas/vendor/imgui"]
	path = Sas/vendor/imgui
	url = https://github.com/addmors/imgui
[submodule "Sas/vendor/yaml-cpp"]
	path = Sas/vendor/yaml-cpp
	url = https://github.com/addmors/yaml-cpp
[submodule "Sas/vendor/ImGuizmo"]
	path = Sas/vendor/ImGuizmo
	url = https://github.com/addmors/ImGuizmo
